body {
  background-color: skyblue;
  font-family: sans-serif;
}

.container {
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
}

.taskList {
  list-style: none;
}

.task-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
